* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#main {
  width: 99%;
  height: 100vh;
  margin: 30px auto;
  background-color:rgb(207, 247, 234);
  border-radius: 8px;
}

#title{
  text-align: center;
  
  font-family: 'Montserrat Alternates', sans-serif;
  padding-top: 3%;
  padding-bottom: 2%;
}

h1 {
  font-size: 30px;
  font-weight: bold;
}

p {
  padding-top: 2%;
  font-family: 'Montserrat', sans-serif;
}

#tribute-info{
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 700;
}