* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#main {
  width: 99%;
  height: 100%;
  margin: 30px auto;
  background-color:rgb(207, 247, 234);
  border-radius: 8px;
}

#title{
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
  padding-top: 3%;
  
}

h1 {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 2%;
}

p {
  padding-bottom: 2%;
  font-family: 'Montserrat', sans-serif;
}

#img-div {
  text-align: center;
  background-color: rgb(255, 255, 255);
  width: 98%;
  margin: 0 auto;
}

#image {
  padding: 1%;
  width: 100%;
  height: auto;
  max-width: 600px;
  display: block;
  margin: 0 auto;
}

#tribute-info{
  width: 50%;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  padding: 1%;
}

h2 {
  text-align: center;
  padding: 1%;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 700;
}

li{
  line-height: 20px;
  font-size: 14px;
  padding: 1% 0;
  margin: 1% 0;
}

#link{
  font-family: 'Montserrat Alternates', sans-serif;
  text-align: center;
}

#link p{
  margin: 2% 4%;
}

q {
  padding: 4%;
  line-height: 20px;
  font-size: 14px;
}

#tribute-link{
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 700;
}